<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sovava.video.dao.DislikeTableMapper">

    <resultMap id="BaseResultMap" type="com.sovava.video.entity.DislikeTable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dislikeObjId" column="dislike_obj_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dislike_obj_id,user_id,
        create_time,type
    </sql>
</mapper>
