<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sovava.video.dao.FavoritesTableMapper">

    <resultMap id="BaseResultMap" type="com.sovava.video.entity.FavoritesTable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articeId" column="artice_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,artice_id,user_id,
        create_time
    </sql>
</mapper>
