<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sovava.video.dao.InvitationCodeMapper">

    <resultMap id="BaseResultMap" type="com.sovava.video.entity.InvitationCode">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="useUser" column="use_user" jdbcType="BIGINT"/>
            <result property="useStatus" column="use_status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="useTime" column="use_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,create_user,
        use_user,use_status,create_time,
        use_time
    </sql>
</mapper>
